/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F9F9;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 800px;
}

nav li {
    display: inline-block;

}

nav a {
    color: #8d2020;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #241d1d73;
    color: #ffffff;
}


/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search-bar input {
    padding: 5px;

}

/* Sign Out Button */
.sign-out-button {
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #00000079;
    width: 150px;
    margin-bottom: 10px;

}

/* Icons */
.icons {
    display: flex;
    align-items: center;
}

.icon-button {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.icon-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Product Section */
.product-section {
    margin: 20px;
}

.title {
    text-align: left;
}

.main-heading {
    text-align: left;
}

.image-collection {
    display: flex;
    align-items: flex-start;
}

.main-image img {
    width: 400px;
    margin-right: 10px;
}

.other-images img {
    width: 198px;
    margin-right: 10px;
}

.product-description {
    margin-top: 20px;
}

.bullet-points {
    columns: 2;
    margin-top: 10px;
    list-style-type: circle;
    padding-left: 0;
}

.pricing {
    margin-top: 20px;
}

.dropdowns {
    display: flex;
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
}

.create-samples-button,
.add-to-cart-button {
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f2f2f2;
    font-size: 16px;
    cursor: pointer;
}

/* Reviews Section */
.reviews-section {
    margin-top: 20px;
    background-color: #AAAAAA;
    border-radius: 20px;
    padding: 10px;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-details {
    flex-grow: 1;
    margin-right: 10px;
}

.see-more-button {
    text-align: right;
    border: none;
}

/* Related Products Section */
.related-products-section {
    margin-top: 20px;
}

.related-product {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.related-product img {
    width: 150px;
    margin-bottom: 10px;
}

/* Size Dropdown */
.size-dropdown {
    margin-left: 10px;
}

/* Quantity Dropdown */
.quantity-dropdown {
    margin-left: 10px;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Footer */
footer {
    background-color: #AAAAAA;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left img {
    max-width: 100px;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.footer-heading h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.features-button,
.about-button,
.join-us-button,
.subscribe-button {
    border: none;
    padding: 8px 12px;
    background-color: #ccc;
    color: #fff;
    margin: 4px 2px;
    font-weight: bold;
    cursor: pointer;
}
.about-button{
    width: 72px;
  }
.newsletter-form input[type="email"],
.subscribe-button {
    padding: 8px;
}

p {
    font-size: 14px;
}

.social-media-buttons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.social-media-buttons a:last-child img {
    margin-right: 0;
}
.button-link {
    text-decoration: none; 
  }
.logo{
    align-items:flex-start;
 
}